<ng2-bl-layout layout-type="fluid">

    <ng2-bl-navbar navbar-class="navbar-light bg-white">

        <!-- Sidebar toggle -->
        <button class="navbar-toggler pull-xs-left" type="button" ng2-bl-sidebar-toggle data-target="#sidebar"><span class="material-icons">menu</span></button>

        <!-- Brand -->
        <span class="navbar-brand">Dashboard</span>


        <form class="form-inline pull-xs-left hidden-sm-down" _lpchecked="1">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn"><button class="btn" type="button"><i class="material-icons">search</i></button></span>
            </div>
        </form>

        <ul class="nav navbar-nav pull-xs-right hidden-md-down">

            <!-- Notifications dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-caret="false" data-toggle="dropdown" role="button" aria-haspopup="false"><i class="material-icons email">mail_outline</i></a>
                <ul class="dropdown-menu dropdown-menu-right notifications" aria-labelledby="Preview">
                    <li class="dropdown-title">Emails</li>
                    <li class="dropdown-item email-item">
                        <a class="nav-link" href="index.html">
              <span class="media">
					<span class="media-left media-middle"><i class="material-icons">mail</i></span>
              <span class="media-body media-middle">
						<small class="pull-xs-right text-muted">12:20</small>
						<strong>Adrian Demian</strong>
						Enhance your website with
					</span>
              </span>
                        </a>
                    </li>
                    <li class="dropdown-item email-item">
                        <a class="nav-link" href="index.html">
              <span class="media">
					<span class="media-left media-middle">
						<i class="material-icons">mail</i>
					</span>
              <span class="media-body media-middle">
						<small class="text-muted pull-xs-right">30 min</small>
						<strong>Michael Brain</strong>
						Partnership proposal
					</span>
              </span>
                        </a>
                    </li>
                    <li class="dropdown-item email-item">
                        <a class="nav-link" href="index.html">
              <span class="media">
					<span class="media-left media-middle">
						<i class="material-icons">mail</i>
					</span>
              <span class="media-body media-middle">
						<small class="text-muted pull-xs-right">1 hr</small>
						<strong>Sammie Downey</strong>
						UI Design
					</span>
              </span>
                        </a>
                    </li>
                    <li class="dropdown-action center">
                        <a href="email.html">Go to inbox</a>
                    </li>
                </ul>
            </li>
            <!-- // END Notifications dropdown -->

            <!-- User dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">
                    <img src="assets/guy-6.jpg" alt="Avatar" class="img-circle" width="40">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Preview">
                    <a class="dropdown-item" href="#"><i class="material-icons md-18">lock</i> <span class="icon-text">Edit Account</span></a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-18">person</i> <span class="icon-text">Public Profile</span></a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
            <!-- // END User dropdown -->

        </ul>

    </ng2-bl-navbar>

    <ng2-bl-sidebar sidebar-id="sidebar">

        <!-- Brand -->
        <a [routerLink]="['/home']" class="sidebar-brand m-b-0 sidebar-brand-bg sidebar-brand-border">Brand</a>

        <!-- Menu -->
        <ul class="sidebar-menu sm-active-button-bg">
            <li class="sidebar-menu-item" ng2-router-active>
                <a class="sidebar-menu-button" [routerLink]="['/home']"><i class="sidebar-menu-icon material-icons">home</i> Fixed layout</a>
            </li>
            <li class="sidebar-menu-item" ng2-router-active>
                <a class="sidebar-menu-button" [routerLink]="['/sidebar']"><i class="sidebar-menu-icon material-icons">menu</i> Sidebar layout</a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button"
                (click)="isCollapsed = !isCollapsed">Reports</a>

                <!-- Submenu -->
                <ul [collapse]="isCollapsed" class="sidebar-submenu">
                    <li class="sidebar-menu-item">
                        <a href="#" class="sidebar-menu-button">Another menu item</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="#" class="sidebar-menu-button">Regular menu item</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- // END Menu -->

    </ng2-bl-sidebar>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li><a [routerLink]="['/home']">AdminPlus</a></li>
        <li class="active">Sidebar layout</li>
    </ol>
    <!-- // END Breadcrumb -->

    <hello-world></hello-world>

</ng2-bl-layout>